*
{
  box-sizing: border-box;
  margin: 0;
}
#grid
{
 display: grid; 
 grid-template-columns: 250px auto  ;
 position: fixed;
}
#sideNav
{
  height: 100vh;
  width:250px;
  background:linear-gradient(rgb(172, 220, 246), rgb(203, 203, 200));
  position: sticky;
  top: 0;
}
#sideNav h3{
  padding:2rem;
}
#sideNav-Elements
{
  list-style-type: none;
  margin-top: 1.5rem;
}
#sideNav-Elements li,a{
  text-decoration: none;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
#feed
{
  background-color:rgb(244, 244, 243);
}

#memes
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div#feed div#memes img#box 
{
    height:300px !important;
    width:300px !important;
    margin:10px !important;
}