*
{
  box-sizing: border-box;
  margin: 0;
}

#feed
{
  background-color:rgb(244, 244, 243);
}

#memes
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
div#feed div#memes img#box 
{
    height:300px !important;
    width:300px !important;
    margin:10px !important;
}