* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.post-wrapper {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 700px;
  display: inline-block;
  margin: 10px;
  justify-self: center
}

.discriptions {
  width: 40vw;
  margin: 0;
}

.post-image {
  width: 100%;

}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 23423px;
  overflow: hidden;
  display: inline-block;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#profile-image {
  width: 40px;
  height: auto;
}

.right-block {
  width: 250px;
  margin: 20px;
}

.image {
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  margin-top: 1rem;
}

.post-footer {
  width: 40vw;
}

#myimg {
  height: 100px;
  width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  width: 700px;
  height: 300px;
  margin: 10px;
}