* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.post-wrapper {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  width: 700px;
  display: inline-block;
  margin: 10px;
  justify-self: center
}

.discriptions {
  width: 40vw;
  margin: 0;
}

.post-image {
  width: 100%;

}

.profile-image  {
  display: flex;
  height: 60px;
  width:80px;
  align-self: center;
  justify-self: center;
  
 

}


#profile-image
{
  width: 65px !important;
  height: auto;
}
.profile-image img
{
  width:50px;
  border-radius: 50%;

}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#profile-image {
  width: 40px;
  height: auto;
}

.right-block {
  width: 250px;
  margin: 20px;
}

.image {
  border-radius: 10px;
  background-color: black;
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  margin-top: 1rem;
}

.post-footer {
  width: 40vw;
}

#myimg {
  height: 165px;
  width: 165px;
  display: inline;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  width: 700px;
  height: 370px;
  margin: 10px;
}
.form h3
{
  margin-bottom: 30px;
}
.flex
{
  display: flex;
  flex-direction: row;
  /* margin:10px; */
}
.flex button{
  height: 20px;
  width:100px;
  margin-left: 20px;
  margin-top: 20px;;
}