/* * {
    margin: 0;
    padding: 0;

} */

body {
}


.struct {
    width: 100%;

}
.detail-intro {
    display: flex;
    gap: 2rem;
    display: relative;
    padding: 3rem;

}
.image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
    border-radius: 22323px;
    border: 1px solid black;
}
img{
    display: block;
    margin: auto;
    width: 200px;
}
.actual-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: relative;

}
.actual-profile button{
    display: absolute;
    right: 0;
    top: 0;
    width: 2rem;
}
.actual-profile span{
    font-size: smaller;
}